#contatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

#contatosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  gap: 30px;
}

.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow:  0px 5px 15px rgba(0, 0, 0, 0.3);
}

.contato i {
  font-size: 30px;
  text-decoration: none;
  color: var(--azul-escuro);
}
