header {
  background-color: var(--azul-escuro);
  color: var(--fonte-clara);
  padding: 25px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  background-color: var(--azul-escuro);
  color: var(--fonte-clara);
  padding: 25px;
  text-align: center;
  font-weight: bold;
}

#navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 30px;
  padding: 0px 15px;
  font-weight: bold;
}

#navBar p {
  font-size: 20px;
}

#navList {
  display: flex;
  gap: 20px;
}

#navItem {
  list-style: none;
}

#navItem a {
  color: var(--fonte-clara);
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.162);
  padding: 5px 15px;
  border-radius: 15px;
  transition: ease 0.5s;
}

#navItem a:hover {
  background-color: #17356c;
}

#botaoMenuMobile {
  display: none;
}

#menuMobile {
  display: none;
}

@media screen and (max-width: 1170px) {
  #navBar {
    margin: 0px 30px 0px 0px;
  }

  
  #botaoMenuMobile {
    display: block;
    border: none;
    background-color: transparent;
    color: var(--fonte-clara);
    font-size: 20px;
    cursor: pointer;
  }

  #navList {
    display: none;
  }

  #menuMobile.active {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    gap: 100px;
  }

  #mobileNavList {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px;
  }

  #mobileNavList #navItem {
    margin-top: 10px;
  }
}
