header {
  background-color: var(--azul-escuro);
  color: var(--fonte-clara);
  padding: 25px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: var(--azul-escuro);
  color: var(--fonte-clara);
  padding: 25px;
  text-align: center;
  font-weight: bold;
}

#navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
  font-weight: bold;
}

#navList {
  display: flex;
  gap: 20px;
}

#navItem {
  list-style: none;
}

#navItem a {
  color: var(--fonte-clara);
  text-decoration: none;
}
