#projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

#projetosCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin: 30px 10px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 10px;
  gap: 10px;
  padding: 15px;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.2);
  max-width: 25%;
  text-align: center;
}

.card:hover {
  box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
}

.card img {
  width: 50%;
}

.botaoProjeto {
  border: none;
  cursor: pointer;
  background-color: var(--azul-escuro);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.botaoProjeto a {
  text-decoration: none;
  color: var(--fonte-clara);
}

@media screen and (max-width: 1177px) {
  .card {
    max-width: 30%;
  }
  .card img {
    width: 60%;
  }

  .card:hover {
    max-width: 30%;
  }
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 100%;
  }

  .card:hover {
    max-width: 100%;
  }
}
