@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(/styles/header.css);
@import url(/styles/hero.css);
@import url(/styles/sobreMim.css);
@import url(/styles/projetos.css);
@import url(/styles/tecnologias.css);
@import url(/styles/contato.css);

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --fundo: #cae0eb;
  --azul-escuro: #1b263b;
  --fonte-clara: #e0e1dd;
}

body {
  background-color: var(--fundo);
}

main {
  color: var(--azul-escuro);
}

hr {
  border: none;
  background-color: #1b263b32;
  height: 1px;
}
