#tecnologias {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  gap: 10px;
  text-align: center;
}

#tecnologiasLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px;
  flex-wrap: wrap;
}

#tecnologiasLogos img {
  max-width: 6%;
  max-height: 6%;
  transition: max-width 0.5s ease;
}

#tecnologiasLogos img:hover {
  max-width: 7%;
  max-height: 7%;
}

@media screen and (max-width: 600px) {
  #tecnologiasLogos {
    margin: 30px 15px;
  }

  #tecnologiasLogos img {
    max-width: 10%;
    max-height: 10%;
  }
}
